@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap")

html;
body {
  margin: auto;
  padding: 0;
  color: rgb(255, 255, 255); /* Added some CSS to make my text white */
  background-color: rgb(156, 156, 117); /* CSS to make the bg black*/
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style:normal;
}

canvas {
  margin: auto; /* add the margin to center your canvas*/
  display: block;
}

h1 {
  text-align: center; /* Some CSS to center the text */
}

h3{
  text-align:center;
  font-weight: 50;
}

p {
  text-align: center;
  font-size: 18px;
}